# Ignore node_modules so Docker doesn't copy it into the image
node_modules

# Ignore logs
npm-debug.log

# Ignore Dockerfile and dockerignore itself (optional)
Dockerfile
.dockerignore

# Ignore environment files
.env
